
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
    font-family: "jrandomc";
    src: url(/fonts/jrandomc.ttf);
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 1;
    
}

html, body {
    margin: 0;
    padding: 0;
}


.nav ul {
    margin: 0;
    
}

.nav li {
    display: inline;
    
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: lightblue;
    text-decoration: dotted;
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.main-nav li {
    padding: 0 2%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}


.main-header {
    color: aliceblue;
    background-color: rgba(0, 0, 0, .6);
    background-image: url(/images/bricks.png);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.name-name {
    text-align: left;
    margin: 0;
    font-size: 5em;
    font-family: "jrandomc";
}

.foots {
    color: white;
    background-color: rgba(0, 0, 0, .8);
    padding: 70px 0;
    
}

.words {
    font-family: Raleway;
    color: white;
    font-size: 1.3em;
    background-color: rgb(99, 152, 103);
    background-image: url(/images/lichen_texture.png);
    background-blend-mode: multiply;
    padding-top: 5%;
}

.word {
    margin: 2em;
}

.foots-container {
    display: flex;
    align-items: center;
}

.foots-container {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}
.footer-nav img {
    width: 70px;
    height: 70px;
}

.jkdj {
    font-size: 1.3em;
    margin: 2em;
}

.wordler {
    font-family: Raleway;
    color: white;
    font-size: 1.3em;
    background-color: rgb(99, 152, 103);
    background-image: url(/images/lichen_texture.png);
    background-blend-mode: multiply;
    padding-top: 20%;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    color: white;
    border: 2px solid #6ddb2d;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}
